* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.98);
}
button {
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border-radius: 10px;
}

button:focus, button:active, button:hover {
	background-color: #1E1E1E;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/system-lock-screen.svg"), url("/usr/share/wlogout/icons/system-lock-screen.svg"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/system-log-out.svg"), url("/usr/share/wlogout/icons/system-log-out.svg"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/system-suspend.svg"), url("/usr/share/wlogout/icons/system-suspend.svg"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/system-hibernate.svg"), url("/usr/share/wlogout/icons/system-hibernate.svg"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/system-shutdown.svg"), url("/usr/share/wlogout/icons/system-shutdown.svg"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/system-reboot.svg"), url("/usr/share/wlogout/icons/system-reboot.svg"));
}
